 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #6CA4F8;
active-foreground: #8B949E;
normal-background: #101216;
normal-foreground: #8B949E;
urgent-background: #DB61A2;
urgent-foreground: #8B949E;

alternate-active-background: #E3B341;
alternate-active-foreground: #8B949E;
alternate-normal-background: #101216;
alternate-normal-foreground: #8B949E;
alternate-urgent-background: #101216;
alternate-urgent-foreground: #8B949E;

selected-active-background: #6CA4F8;
selected-active-foreground: #000000;
selected-normal-background: #6CA4F8;
selected-normal-foreground: #000000;
selected-urgent-background: #6CA4F8;
selected-urgent-foreground: #000000;

background-color: #101216;
background: rgba(0,0,0,0.7);
foreground: #8B949E;
border-color: #6CA4F8;

color0: #000000;
color1: #F78166;
color2: #56D364;
color3: #E3B341;
color4: #6CA4F8;
color5: #DB61A2;
color6: #2B7489;
color7: #FFFFFF;
color8: #4D4D4D;
color9: #F78166;
color10: #56D364;
color11: #E3B341;
color12: #6CA4F8;
color13: #DB61A2;
color14: #2B7489;
color15: #FFFFFF;


}

